{#{% extends '@WebProfiler/Profiler/layout.html.twig' %}#}

{% block toolbar %}
    {% if collector.dumpsCount %}
        {% set icon %}
            <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: 'dump'}) }}"
               title="{{ 'Dump'|t }}">
                <img alt="{{ collector.title }}" src="data:image/png;base64,{{ collector.icon }}">
                <span class="sf-toolbar-value">{{ collector.dumpsCount }}</span>
            </a>
        {% endset %}

        {% set text %}
            {% for dump in collector.getDumps('html') %}
                <div class="sf-toolbar-info-piece">
                    <span>
                    {% if dump.file %}
                        {% set link = dump.file|file_link(dump.line) %}
                        {% if link %}
                            <a href="{{ link }}" title="{{ dump.file }}">{{ dump.name }}</a>
                        {% else %}
                            <abbr title="{{ dump.file }}">{{ dump.name }}</abbr>
                        {% endif %}
                    {% else %}
                        {{ dump.name }}
                    {% endif %}
                    </span>
                    <span class="sf-toolbar-file-line">line {{ dump.line }}</span>

                    {{ dump.data|raw }}
                </div>
            {% endfor %}
        {% endset %}

        <div class="sf-toolbar-block">
            <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
            <div class="sf-toolbar-info">{{ text|default('') }}</div>
        </div>

    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {{ collector.dumpsCount == 0 ? 'disabled' }}">
        <span class="icon">{% include '@elite_dump/../images/icon.svg' %}</span>
        <strong>Dump</strong>
    </span>
{% endblock %}

{% block panel %}
    <script id="dump" type="text/template">
    <h2>Dumped Contents</h2>

    {% for dump in collector.getDumps('html') %}
        <div class="sf-dump sf-reset">
            <h3>In
                {% if dump.line %}
                    {% set link = dump.file|file_link(dump.line) %}
                    {% if link %}
                        <a href="{{ link }}" title="{{ dump.file }}">{{ dump.name }}</a>
                    {% else %}
                        <abbr title="{{ dump.file }}">{{ dump.name }}</abbr>
                    {% endif %}
                {% else %}
                    {{ dump.name }}
                {% endif %}
                <small>line {{ dump.line }}</small>

                <a class="text-small sf-toggle" data-toggle-selector="#sf-trace-{{ loop.index0 }}" data-toggle-alt-content="Hide code">Show code</a>
            </h3>

            <div class="sf-dump-compact hidden" id="sf-trace-{{ loop.index0 }}">
                <div class="trace">
                    {{ dump.fileExcerpt ? dump.fileExcerpt|raw : dump.file|file_excerpt(dump.line) }}
                </div>
            </div>

            {{ dump.data|raw }}
        </div>
    {% else %}
        <div class="empty">
            <p>No content was dumped.</p>
        </div>
    {% endfor %}
    </script>
{% endblock %}